/*  MICROTHEMER STYLES  */


/*= Geral ===================== */

/** Geral >> Post 22 uagb ifb desc **/
#post-22 .uagb-ifb-desc {
	text-align: justify !important;
}

/** Geral >> #post-31 .uagb-ifb-desc **/
#post-31 .uagb-ifb-desc {
	text-align: justify !important;
}

/** Geral >> #post-38 .uagb-ifb-desc **/
#post-38 .uagb-ifb-desc {
	text-align: justify !important;
}

/** Geral >> .uagb-block-d9e965d5 .uagb-ifb-desc **/
.uagb-block-d9e965d5 .uagb-ifb-desc {
	text-align: justify !important;
}

/** Geral >> #post-12 .uagb-ifb-desc **/
#post-12 .uagb-ifb-desc {
	text-align: justify !important;
}

